footer
  .footer-content.container.d-flex.justify-content-center.mt-5.pb-4
    a.text-white.footer-link(href='') Телеграм
    a.text-white.footer-link(href='') ВКонтакте
    a.text-white.footer-link(href='') Инстаграмм
