.container-xl.p-0
  nav.navbar.navbar-expand-lg.menu-bg
    .container-fluid
      a.navbar-brand(href='/')
        img.logo(src='./img/logo.svg' width='86' height='86' alt='')
      button.navbar-toggler.menu-btn(type='button' data-bs-toggle='collapse' data-bs-target='#navbarNavAltMarkup' aria-controls='navbarNavAltMarkup' aria-expanded='false' aria-label='Переключатель навигации')
        span.navbar-toggler-icon
      #navbarNavAltMarkup.collapse.navbar-collapse.justify-content-center
        .navbar-nav.navigation
          a.nav-link.text-white.fs-5(href='dota.html') Dota 2
          a.nav-link.text-white.fs-5.mx-4(href='fortnite.html') Fortnite
          a.nav-link.text-white.fs-5(href='gta.html') GTA 5
